.card-livro{
    width: 18rem;
    font-size: small;  
    max-height: 400px;
    min-height: 400px;  
}
.card-title{
    max-height: 60px;
    min-height: 60px;
    font-size: small; 
    font-weight: bold;
}

.img-card-livro{
    max-width: 100px;
    min-width: 100px;

    max-width: 120px;
    min-width: 120px;

}
